{% extends "base.html"%}

{% block content %}
<h2>"Log In"</h2>
<form method ="post">
    {% crsf_token %}
    {{form.as_p}}
    <button type = "Submit">Log In</button>
</form>
{% endblock content %}
